<%= stylesheet_link_tag 'widgEditor' %>
<%= javascript_include_tag "widgEditor" %>

<h1>Editing vocentry</h1>

<%= render 'form' %>

<%= link_to 'Show', @vocentry %> |
<%= link_to 'Back', vocentries_path %>
