<h1>My vocabulary</h1>
<%= link_to 'New Vocentry', new_vocentry_path %>
<%= link_to 'Home', home_index_path %>

<%form_tag vocentries_path, :method => 'get' do %>
  <p>
  <%= text_field_tag :search,  params['search'] %>
  <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
  <tr>
    <%= sort_header_tag('eng_word', :title => 'English word') %>
    <%= sort_header_tag('eng_desc', :caption => 'English definition') %>
    <%= sort_header_tag('created_at', :title => 'Creation time') %>
  </tr>
<%= render(:partial => "word_entry",:collection => @vocentries) %>
</table>

<br />

<%= will_paginate @vocentries %>
