<p id="notice"><%= notice %></p>

<p>
  <b>Eng word:</b>
  <%= @vocentry.eng_word %>
</p>

<p>
  <b>Eng desc:</b>
  <%= @vocentry.eng_desc %>
</p>

<p>
  <b>Fr word:</b>
  <%= @vocentry.fr_word %>
</p>

<p>
  <b>Sp word:</b>
  <%= @vocentry.sp_word %>
</p>


<%= link_to 'Edit', edit_vocentry_path(@vocentry) %> |
<%= link_to 'Back', vocentries_path %>
